ROOT_DIR=/opt/zervice.nomad

NOMAD_VERSION=0.9.5
NOMAD_ARCH=linux_amd64
NOMAD_RELEASE=nomad_$NOMAD_VERSION_$NOMAD_ARCH
NOMAD_DOWNLOAD_URL=https://releases.hashicorp.com/nomad/$NOMAD_VERSION/$NOMAD_RELEASE.zip

NOMAD_REGION=$SERVER_ZONE
NOMAD_DATACENTER=$SERVER_NETWORK

NOMAD_HTTP_PORT=4646
NOMAD_RPC_PORT=4647
NOMAD_SERF_PORT=4648
